@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(230, 230, 230);
}

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('/rohit-tandon-9wg5jCEPBsw-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 120%;
}

.card {
    background: rgba(0, 46, 96, 0.8);
    padding: 3rem;
    border-radius: 1rem;
    width: 100%;
    max-width: 430px;
    min-height: 280px;
    margin: 1rem;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: .5rem;
    border-radius: 50%;
    border: none;
    height: 3rem;
    width: 3rem;
    outline: none;
    cursor: pointer;
    transition: .3s ease-in-out;
    background: rgba(0, 0, 0, 0.3);
}

button:hover {
    background: rgb(131, 131, 131);
}

.search-bar {
    border: none;
    outline: none;
    padding: 1rem 1rem;
    border-radius: 1.5rem;
    font-size: 1rem;
    width: calc(100% - 50px);
    background: rgba(0, 0, 0, 0.3);
}

h2 {
    margin: 1rem 0;
}

h1 {
    margin: 1rem 0;
}

.flex {
    display: flex;
    align-items: center;
}

.description {
    text-transform: capitalize;
    margin-left: 8px;
}